* {
    box-sizing: border-box;
    padding: 0;
}

.header {
    padding: 20px 70px 50px 32px;
    display: flex;
    align-items: center;
}
body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 17px;
    width: 20px;
    background-color: #fff;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line {
    background: #1F2022;
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 5px;
}
.logo {
    margin-right: 59px;
}
.input-group {
    background: #EBEBEB;
    max-width: 830px;
    height: 44px;
    width: 50%;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    padding: 12px 17px 12px 23px;
}
.input-search {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.button-search {
    width: 19px;
    height: 19px;
    border-color: transparent;
    border: none;
    cursor: pointer;
}
.icon-search {
    fill: #000;
}
.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons-link {
    text-decoration: none;
    opacity: 0.24;
}
.icons-link:hover {
    opacity: 0.7;
}
.icons-link:not(:last-child) {
    margin-right: 50px;
}
.user {
    margin-left: 45px;
}
.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.sidebar {
    padding: 0 0 0 32px;
}
.nav-menu {
    margin:0 0 60px 0;
    list-style: none;
}
.nav-link {
    display: flex;
    align-items: center;
    color:#898989;
    text-decoration: none;
}
.nav-link:hover {
    color: #FF0000;
    ;
}
.nav-link:hover .icon {
    fill: #FF0000;
    ;
}
.nav-item {
    margin-bottom: 28px;
}
.nav-item .icon {
    fill:#898989;
}
.nav-text {
    margin-left: 13px;
}
.nav-image {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.nav-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 30px 0;
}